@keyframes updown {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-updown {
  animation: updown 3s ease-in-out infinite;
}

img {
     mix-blend-mode: multiply;
}